$blue: #428bca;
$light-blue-gray: #c5ccd0;
$dark-blue: #324e61;
$dark-gray: #60605d;
$dark-dark-gray: #33332d;
$light-gray: #e5e5e5;
$red: #cb5046;
$white: #ffffff;
$black-trans: rgba(0,0,0, 0.5);
$white-trans: rgba(255,255,255, 0.5);